<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{! Makes IE support useful HTML5/CSS3 features }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}{{#is "post, page"}} — {{@site.title}}{{/is}}</title>

  {{! Styles }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

  {{! Ghost outputs important stuff with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}" id="body">

  {{! Everything else gets inserted here }}
  {{{body}}}

  {{! Site Footer }}
  {{> footer}}

  {{! Ghost outputs important scripts with this, including the the content for the code injection pane }}
  {{ghost_foot}}

</body>
</html>
